/* 
html {
  font-family: nunito;
  font-size: 16px;
  background-image: './img/background.jpeg';
}
body {
  background-image: './img/background.jpeg';
  margin: 0;
  padding: 0;
  background-color: lavender;
  font-family: nunito;
  font-size: 16px;
  padding: 2rem;

} */



.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f1f1f1;
  padding: 20px;
  font-family: playfair display;
  border-radius: 5px;
  border-style: solid;
  border-color: #f1f1f1;
}

.header_left {
  display:flex;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
}

.header_content {
  text-align: center;
}

.header_img {
  width: 150px;
  height: auto;
  margin-right:20px;
}

.header_center
{
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
 }

/* p {
  font-family: cursive;
  font-size: 1.2rem;
  line-height: 1.5;
} */

