html {
  font-family: nunito;
  font-size: 16px;
  background-image: './img/background.jpeg';
}
body {
  background-image: './img/background.jpeg';
  margin: 0;
  padding: 0;
  background-color: lavender;
  font-family: nunito;
  font-size: 16px;
  padding: 2rem;

}